**/checkpoints/
**/__pycache__
**/pytest

/trash
/wandb
/output

*.ipynb
*.txt
*.log
*.cif
*.jsonl
*.json
*.parquet
*.csv
*.vscode
*.cache
*.pdb
*.m8

# slink
**/rcsb
**/swissprot_v4
**/cameo2022
**/pickle
**/parquet

/cache
/pytest

# still developing
/infra
/pt